kitchensheet-automation-workflow.json
{
  "name": "kitchen sheet workflow (MCP)",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -576
      ],
      "id": "eb49496e-b7db-4afb-ba9d-2b69c6785473",
      "name": "Download PDF file",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NB0HZbHQXNRUxMzF",
          "name": "Google Drive account"
        }
      },
      "notes": "Download the Kitchen Sheet PDF"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "13pRQO68XiheIrOepIOMun5ylByU3G6PEpp6wjsaNkGI",
          "mode": "id"
        },
        "name": "={{ (() => { const ks = $('ParsePDF2JSON').first().json.kitchenSheet || {}; const rawName = String(ks.eventName || '').toUpperCase().trim(); const parts = rawName.split(/\\s+/).filter(Boolean); const first = parts[0] || 'EVT'; const meal = parts[parts.length - 1] || ''; const prefix = first === 'PHOENIX' ? 'PHX' : first.slice(0, 3); const dateStr = String(ks.eventDate || '').trim(); const dt = DateTime.fromFormat(dateStr, 'ccc, LLL d, yyyy'); const ymd = dt.isValid ? dt.toFormat('yyyyLLdd') : dateStr.replace(/\\D/g, '').slice(0, 8); return prefix + '-' + ymd + (meal ? '-' + meal : ''); })() }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "10822eRE0ZsS2B_iN8nZX5tURHXRrB6us",
          "mode": "id"
        },
        "options": {
          "copyRequiresWriterPermission": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2368,
        -576
      ],
      "id": "d4c64126-07c5-4ac0-861f-fe6013e23734",
      "name": "Copy KitchenSheet Template",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "retryOnFail": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NB0HZbHQXNRUxMzF",
          "name": "Google Drive account"
        }
      },
      "notes": "Copy the google sheet template"
    },
    {
      "parameters": {
        "jsCode": "// Utility for n8n Code node: parse an events[] JSON array and map each event to a KitchenSheet.\n// For AI nodes that output KitchenSheetPDF format, use parseKitchenSheetPDF.js instead.\n\n/**\n * Extracts and parses JSON from a string that may be wrapped in\n * ```json ... ``` code fences (as returned by some LLM tools).\n * Also handles raw JSON strings with no fences.\n *\n * @param {string} rawText - The raw text containing JSON, possibly fenced.\n * @returns {any} Parsed JSON object.\n */\nfunction parseJsonFromCodeFence(rawText) {\n  if (typeof rawText !== \"string\") {\n    throw new Error(\"Expected rawText to be a string\");\n  }\n\n  // Remove starting ```json or ``` (case-insensitive), plus any following whitespace/newlines\n  let cleaned = rawText.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\");\n\n  // Remove a trailing ``` if present (with optional whitespace before it)\n  cleaned = cleaned.replace(/\\s*```$/i, \"\").trim();\n\n  return JSON.parse(cleaned);\n}\n\n/**\n * Extracts dietary tags from a title that contains \"(gf+df)\" style annotations,\n * e.g. \"OREGANO ROASTED CHICKEN (gf+df)\" → name: \"OREGANO ROASTED CHICKEN\", dietaryTags: [\"gf\",\"df\"].\n * If the parenthetical content is not a dietary tag string it is left in the name.\n *\n * @param {string} title\n * @returns {{ name: string, dietaryTags: string[] }}\n */\nfunction extractDietaryTagsFromTitle(title) {\n  const match = (title || \"\").match(/^(.*?)\\s*\\(([^)]+)\\)\\s*$/);\n  if (match) {\n    const rawTags = match[2].trim();\n    if (/^[a-z]{1,4}(\\+[a-z]{1,4})*$/i.test(rawTags)) {\n      return {\n        name: match[1].trim(),\n        dietaryTags: rawTags\n          .split(\"+\")\n          .map((t) => t.trim().toLowerCase())\n          .filter(Boolean),\n      };\n    }\n  }\n  return { name: (title || \"\").trim(), dietaryTags: [] };\n}\n\n/**\n * Maps a single menu item from the sample.json / KitchenSheetPDF sections format to a MenuItem.\n *\n * Input shape:\n * { quantity: 185, title: \"OREGANO ROASTED CHICKEN (gf+df)\", ingredients: \"caramelized lemon, fresh oregano\" }\n *\n * @param {{ quantity: number, title: string, ingredients: string }} item\n * @returns {{ name: string, dietaryTags: string[], ingredients: string[], notes: null }}\n */\nfunction mapSampleItemToMenuItem(item) {\n  const { name, dietaryTags } = extractDietaryTagsFromTitle(item.title);\n  const raw = (item.ingredients || \"\").trim();\n  const ingredients = raw\n    ? raw.split(\",\").map((s) => s.trim()).filter(Boolean)\n    : [];\n  return { name, dietaryTags, ingredients, notes: null };\n}\n\n/**\n * Maps a single special meal object to camelCase.\n *\n * @param {object} meal\n * @returns {object}\n */\nfunction mapSpecialMeal(meal) {\n  return {\n    qty: meal.qty,\n    type: meal.type,\n    recipientName: meal.recipient_name ?? null,\n    restrictions: meal.restrictions || [],\n    description: meal.description ?? null,\n    deliveryTime: meal.delivery_time ?? null,\n    deliveredBy: meal.delivered_by ?? null,\n    servedHot: meal.served_hot ?? null,\n    packaging: meal.packaging ?? null,\n  };\n}\n\n/**\n * Maps a single event object (sample.json format) to a KitchenSheet.\n *\n * Input shape:\n * {\n *   updated_at:      \"2/18/2026 2:01 pm\",\n *   document_type:   \"KITCHEN SHEET\",\n *   event_name:      \"DODGERS MAJORS LUNCH\",\n *   event_date:      \"Sun, Mar 8, 2026\",\n *   account:         { account, account_manager, location, phone, booking_contact, booking_phone, site_contact, site_phone },\n *   catering_kitchen:{ date, setup_type, event_type, guests },\n *   operations:      { date, offsite_location, offsite_address, service_start_time, service_end_time, arrival_time, instructions },\n *   menu:            { date, service_start, service_end, lkb_time, sections: [{ qty, name, items: [{ quantity, title, ingredients }] }] },\n *   dietary_requirements: {\n *     portion_sizes: { protein, starch, vegetables },\n *     special_meals: [{ qty, type, recipient_name, restrictions, description, delivery_time, delivered_by, served_hot, packaging }]\n *   }\n * }\n *\n * @param {object} event\n * @returns {object} KitchenSheet-shaped camelCase object\n */\nfunction mapEventToKitchenSheet(event) {\n  const sections = (event.menu?.sections || []).map((section) => ({\n    qty: section.qty,\n    name: section.name,\n    items: (section.items || []).map(mapSampleItemToMenuItem),\n  }));\n\n  return {\n    updatedAt: event.updated_at || \"\",\n    documentType: event.document_type || \"KITCHEN SHEET\",\n    eventName: event.event_name || \"\",\n    eventDate: event.event_date || \"\",\n\n    account: {\n      account: event.account?.account ?? null,\n      accountManager: event.account?.account_manager ?? null,\n      location: event.account?.location ?? null,\n      phone: event.account?.phone ?? null,\n      bookingContact: event.account?.booking_contact ?? null,\n      bookingPhone: event.account?.booking_phone ?? null,\n      siteContact: event.account?.site_contact ?? null,\n      sitePhone: event.account?.site_phone ?? null,\n    },\n\n    cateringKitchen: {\n      date: event.catering_kitchen?.date || \"\",\n      setupType: event.catering_kitchen?.setup_type || \"\",\n      eventType: event.catering_kitchen?.event_type || \"\",\n      guests: event.catering_kitchen?.guests ?? 0,\n    },\n\n    operations: {\n      date: event.operations?.date || \"\",\n      offsiteLocation: event.operations?.offsite_location ?? null,\n      offsiteAddress: event.operations?.offsite_address ?? null,\n      serviceStartTime: event.operations?.service_start_time ?? null,\n      serviceEndTime: event.operations?.service_end_time ?? null,\n      arrivalTime: event.operations?.arrival_time ?? null,\n      instructions: event.operations?.instructions ?? null,\n    },\n\n    menu: {\n      date: event.menu?.date || \"\",\n      serviceStart: event.menu?.service_start ?? null,\n      serviceEnd: event.menu?.service_end ?? null,\n      lkbTime: event.menu?.lkb_time || \"\",\n      sections,\n    },\n\n    dietaryRequirements: {\n      portionSizes: {\n        protein: event.dietary_requirements?.portion_sizes?.protein ?? null,\n        starch: event.dietary_requirements?.portion_sizes?.starch ?? null,\n        vegetables: event.dietary_requirements?.portion_sizes?.vegetables ?? null,\n      },\n      specialMeals: (event.dietary_requirements?.special_meals || []).map(mapSpecialMeal),\n    },\n  };\n}\n\n/**\n * n8n Code node entry point.\n *\n * Reads JSON (raw or code-fenced) from:\n *   $input.first().json.output[0].content[0].text\n *\n * Expected LLM output shape — an array of events matching the sample.json format:\n * [\n *   {\n *     \"updated_at\": \"2/18/2026 2:01 pm\",\n *     \"document_type\": \"KITCHEN SHEET\",\n *     \"event_name\": \"DODGERS MAJORS LUNCH\",\n *     \"event_date\": \"Sun, Mar 8, 2026\",\n *     \"account\": { ... },\n *     \"catering_kitchen\": { \"date\", \"setup_type\", \"event_type\", \"guests\" },\n *     \"operations\": { ... },\n *     \"menu\": { \"date\", \"service_start\", \"service_end\", \"lkb_time\", \"sections\": [ ... ] },\n *     \"dietary_requirements\": { \"portion_sizes\": { ... }, \"special_meals\": [ ... ] }\n *   }\n * ]\n *\n * Returns one n8n item per event: { kitchenSheet: KitchenSheet }\n */\nfunction main() {\n  const inputJson = $(\"Message a model1\").first().json;\n  const raw = inputJson.output[0].content[0].text;\n  const parsed = parseJsonFromCodeFence(raw);\n\n  const items = [{...parsed}].map((event) => ({\n    json: {\n      kitchenSheet: mapEventToKitchenSheet(event),\n    },\n  }));\n\n  return items.length ? items : [{ json: { kitchenSheet: null } }];\n}\n\n// In an n8n Code node you would typically just `return main();`\nreturn main();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -576
      ],
      "id": "a7d39d09-b11c-424d-974a-7a67b6f90bc0",
      "name": "ParsePDF2JSON",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "notes": "Parse PDF data to KitchenSheet JSON data"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node: builds a Google Sheets API valueRange payload.\n *\n * Reads menu.sections[] from the incoming KitchenSheet JSON and produces a\n * single output item containing the API URL and request body needed to append\n * all section rows to a Google Sheet using the Sheets API directly.\n *\n * Output shape:\n *   $json.url   — full Sheets API endpoint (used in the HTTP Request URL field)\n *   $json.body  — valueRange object        (used in the HTTP Request body field)\n *\n * Column mapping (positional, no header matching required):\n *   values[n][0]  →  column B  (QTY)\n *   values[n][1]  →  column C  (MENU ITEM)\n *\n * ═══════════════════════════════════════════════════════════════════════════\n *  HTTP REQUEST NODE CONFIGURATION\n * ═══════════════════════════════════════════════════════════════════════════\n *\n *  General\n *  ───────\n *  Method              POST\n *  URL                 ={{ $json.url }}\n *\n *  Authentication\n *  ──────────────\n *  Auth Type           OAuth2\n *  Credential          <your Google OAuth2 credential>\n *\n *  Query Parameters    (add both as separate entries)\n *  ────────────────\n *  Name                valueInputOption\n *  Value               USER_ENTERED\n *\n *  Name                insertDataOption\n *  Value               INSERT_ROWS\n *\n *  Body\n *  ────\n *  Body Content Type   JSON\n *  Specify Body        Using JSON\n *  JSON                ={{ JSON.stringify($json) }}\n *\n *  Notes\n *  ─────\n *  - USER_ENTERED lets Google Sheets interpret values (numbers stay numbers,\n *    dates parse, etc.). Use RAW to disable interpretation.\n *  - INSERT_ROWS pushes existing rows down instead of overwriting them.\n *  - The Sheets API appends after the last row that contains data, so rows\n *    1-4 (template headers) are preserved and data starts at row 5 naturally.\n * ═══════════════════════════════════════════════════════════════════════════\n */\n\nconst RANGE = \"TEMPLATE!B5\"; // starting cell; API appends after last row\n\nfunction main() {\n  const input = $input.first()?.json ?? {};\n\n  // Support both input shapes:\n  // - sample.json / parseEventsFromCodeFence: { menu: { sections: [...] } }\n  // - parseKitchenSheetPDF output:            { kitchenSheet: { menu: { sections: [...] } } }\n  const kitchenSheet = input.kitchenSheet ?? input;\n  const sections = kitchenSheet?.menu?.sections ?? [];\n\n  // Build a 2D values array — each inner array is one row, values are positional:\n  //   index 0 → column B (QTY)\n  //   index 1 → column C (MENU ITEM)\n  const values = [];\n  \n  sections.forEach((section) => {\n    let row = [section?.qty ?? \"\", section?.name ?? \"\"];\n    values.push(row);\n    \n    section.items.forEach((item) => {\n      values.push([\"\", item.name ?? \"\"]);\n      const ingredients = item.ingredients ?? [];\n      ingredients.forEach((ingredient) => {\n        values.push([\"\",\"- \" + (ingredient ?? \"\")]);\n      });\n    });\n   \n  });\n\n\n  return [\n    {\n      json: {\n        range: RANGE,\n        majorDimension: \"ROWS\",\n        values,\n      },\n    }\n  ];\n}\n\nreturn main();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        -576
      ],
      "id": "3b169647-d271-4f13-a59e-f8ac65bd904c",
      "name": "Map to Sheet",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "KitchenSheet to Sheet Mapping JSON"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FWFpvt1MKvcGDdWO4b2yI1-_RgRl9-l0",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -576
      ],
      "id": "ca6e4969-4174-4e9f-bd0b-ca5bd8792a10",
      "name": "Google Drive Trigger1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NB0HZbHQXNRUxMzF",
          "name": "Google Drive account"
        }
      },
      "notes": "Check for uploaded pdf files."
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        -576
      ],
      "id": "acdc5094-091e-4242-883d-c6079efadfcb",
      "name": "Extract from File1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a data extraction assistant. You parse kitchen sheet PDFs into structured JSON that matches the KitchenSheetPDF TypeScript type exactly. Return ONLY a valid JSON object — no explanation, no markdown, no code fences.\n\nTYPE DEFINITION  (kitchenSheet.types.ts)\n// Root type you must produce:\ninterface KitchenSheetPDF extends Omit<KitchenSheet, \"menu\"> {\n  menu: MenuPDF;\n}\n\ninterface KitchenSheet {\n  updatedAt: string;               // e.g. \"2/18/2026 2:01 pm\"\n  documentType: \"KITCHEN SHEET\";\n  eventName: string;\n  eventDate: string;               // e.g. \"Sun, Mar 8, 2026\"\n  account: AccountInfo;\n  cateringKitchen: CateringKitchenInfo;\n  operations: OperationsInfo;\n  dietaryRequirements: DietaryRequirements;\n}\n\ninterface AccountInfo {\n  account: string;\n  accountManager: string;\n  location: string | null;\n  phone: string | null;\n  bookingContact: string;\n  bookingPhone: string;\n  siteContact: string | null;\n  sitePhone: string | null;\n}\n\ninterface CateringKitchenInfo {\n  date: string;\n  setupType: \"Buffet Style\" | \"Plated\" | \"Family Style\" | string;\n  eventType: \"Lunch\" | \"Dinner\" | \"Breakfast\" | \"Snack\" | string;\n  guests: number;\n}\n\ninterface OperationsInfo {\n  date: string;\n  offsiteLocation: string;\n  offsiteAddress: string;\n  serviceStartTime: string;        // e.g. \"11:00 AM\"\n  serviceEndTime: string;          // e.g. \"3:00 PM\"\n  arrivalTime: string;\n  instructions: string;\n}\n\ninterface MenuSectionPDFItem {\n  quantity: number;                // Number of servings for this item (usually matches section qty)\n  title: string;                   // Item name with dietary tags, e.g. \"OREGANO ROASTED CHICKEN (gf+df)\"\n  ingredients: string;             // Ingredients line below the title. Empty string if none.\n}\n\ninterface MenuSectionPDF {\n  qty: number;                     // Section-level guest/serving count\n  name: string;                    // Section name, e.g. \"DODGERS LUNCH BUFFET\"\n  items: MenuSectionPDFItem[];\n}\n\ninterface MenuPDF {\n  date: string;\n  serviceStart: string;\n  serviceEnd: string;\n  lkbTime: string;                 // Last Kitchen Briefing time\n  sections: MenuSectionPDF[];      // One structured object per section block\n}\n\ninterface DietaryRequirements {\n  portionSizes: PortionSizes;\n  specialMeals: SpecialMeal[];\n}\n\ninterface PortionSizes {\n  protein: string;                 // e.g. \"8oz post-cook\"\n  starch: string;                  // e.g. \"1 cup\"\n  vegetables: string;\n}\n\ninterface SpecialMeal {\n  qty: number;\n  type: \"WHOLE 30\" | \"SPECIALTY\" | \"CONCIERGE\" | string;\n  recipientName: string | null;\n  restrictions: string[];\n  description: string;\n  deliveryTime: string | null;\n  deliveredBy: string | null;\n  servedHot: boolean;\n  packaging: \"togo box\" | \"plate\" | null;\n}\n\nJSON KEY MAPPING  (TypeScript → JSON output)\nOutput keys use snake_case. Mapping from the TypeScript type:\nOutput keys use snake_case. Mapping from the TypeScript type:\n  updatedAt           → \"updated_at\"\n  documentType        → \"document_type\"\n  eventName           → \"event_name\"\n  eventDate           → \"event_date\"\n  accountManager      → \"account_manager\"\n  bookingContact      → \"booking_contact\"\n  bookingPhone        → \"booking_phone\"\n  siteContact         → \"site_contact\"\n  sitePhone           → \"site_phone\"\n  cateringKitchen     → \"catering_kitchen\"\n  setupType           → \"setup_type\"\n  eventType           → \"event_type\"\n  offsiteLocation     → \"offsite_location\"\n  offsiteAddress      → \"offsite_address\"\n  serviceStartTime    → \"service_start_time\"\n  serviceEndTime      → \"service_end_time\"\n  arrivalTime         → \"arrival_time\"\n  serviceStart        → \"service_start\"\n  serviceEnd          → \"service_end\"\n  lkbTime             → \"lkb_time\"\n  dietaryRequirements → \"dietary_requirements\"\n  portionSizes        → \"portion_sizes\"\n  specialMeals        → \"special_meals\"\n  recipientName       → \"recipient_name\"\n  deliveryTime        → \"delivery_time\"\n  deliveredBy         → \"delivered_by\"\n  servedHot           → \"served_hot\"\n\nSECTION OBJECT FORMAT\nEach entry in menu.sections is a structured object with qty, name, and items[].\n  qty   — the number that precedes the section name in the PDF (e.g. 185)\n  name  — the section name in UPPERCASE (e.g. \"DODGERS LUNCH BUFFET\")\n  items — array of MenuSectionPDFItem objects, one per menu item line:\n            - quantity:    same as the section qty\n            - title:       item name with dietary tags in parentheses joined by \"+\"\n                           Always UPPERCASE. e.g. \"OREGANO ROASTED CHICKEN (gf+df)\"\n            - ingredients: the line directly below the item name in the PDF, comma-separated.\n                           Use \"\" (empty string) if no ingredients line follows.\n\nRULES\n1. menu.sections is an array of structured objects — one object per section block. Each has qty, name, and items[].\n2. Each section object's qty is the number before the section name in the PDF; name is the section title in UPPERCASE.\n3. Each item in items[] uses MenuSectionPDFItem shape:\n   - quantity:    same as the parent section's qty.\n   - title:       item name always UPPERCASE, with dietary tags in parentheses joined by \"+\", e.g. \"SALMON (gf+df)\".\n   - ingredients: the line directly below the item name in the PDF. Use \"\" if no ingredients line is present.\n4. Use null for any field that is empty or not present in the document.\n5. Dates must be copied exactly as they appear in the PDF — do not reformat.\n6. Times must be in 12-hour format with AM/PM (e.g. \"11:00 AM\", \"3:00 PM\").\n7. Phone numbers must include the country code prefix (e.g. \"+14808782582\").\n8. portion_sizes values should include quantity + unit (e.g. \"8oz post-cook\", \"1 cup\").\n9. Return ONLY the JSON object. No explanation, no markdown, no code fences."
            },
            {
              "content": "=Extract the data from the following kitchen sheet and return ONLY the JSON object matching the strict schema:\n\n{{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        -576
      ],
      "id": "66ab6a95-cb4c-487a-9d7f-f48bdc86a8cb",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "qQAXYhlFrPu8U2Ow",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Copy KitchenSheet Template').item.json.id }}/values/{{ encodeURIComponent($json.range) }}:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "USER_ENTERED"
            },
            {
              "name": "insertDataOption",
              "value": "OVERWRITE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2816,
        -576
      ],
      "id": "089c1c17-4605-4718-9421-38359fbd94b6",
      "name": "PlotMenuRows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fCVqUP4ptPtbsFJr",
          "name": "Google Sheets account"
        }
      },
      "notes": "Update the Menu Rows"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Copy KitchenSheet Template').item.json.id }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"valueInputOption\": \"USER_ENTERED\",\n  \"data\": [\n    {\n      \"range\": \"TEMPLATE!A1:E3\",\n      \"values\": [\n        [,,,,$('ParsePDF2JSON').item.json.kitchenSheet.eventDate],\n        [\"THE HERB BOX CATERING\",,$('ParsePDF2JSON').item.json.kitchenSheet.eventName,,\"STATUS\"],\n        [\"QUANTITY SERVING\",,$('ParsePDF2JSON').item.json.kitchenSheet.cateringKitchen.guests,\"RTG\"],\n      ]\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3040,
        -576
      ],
      "id": "a412ecde-a161-4fa7-a248-83ea25d22ee9",
      "name": "EncodeJSONtoGoogleSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fCVqUP4ptPtbsFJr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ (() => { const ks = $('ParsePDF2JSON').item.json.kitchenSheet || {}; const rawName = String(ks.eventName || '').toUpperCase().trim(); const parts = rawName.split(/\\s+/).filter(Boolean); const first = parts[0] || 'EVT'; const meal = parts[parts.length - 1] || ''; const prefix = first === 'PHOENIX' ? 'PHX' : first.slice(0, 3); const dateStr = String(ks.eventDate || '').trim(); const dt = DateTime.fromFormat(dateStr, 'ccc, LLL d, yyyy'); const ymd = dt.isValid ? dt.toFormat('yyyyLLdd') : dateStr.replace(/\\D/g, '').slice(0, 8); const fileName = prefix + '-' + ymd + (meal ? '-' + meal : ''); const folderId = '10822eRE0ZsS2B_iN8nZX5tURHXRrB6us'; return \"name = '\" + fileName + \"' and '\" + folderId + \"' in parents and trashed = false\"; })() }}",
        "limit": 5,
        "filter": {
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "10822eRE0ZsS2B_iN8nZX5tURHXRrB6us"
          }
        },
        "options": {}
      },
      "id": "c4a5e8ad-9b03-4a1b-9f81-7d2c55a2b8a1",
      "name": "Check Existing Template",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        -576
      ],
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NB0HZbHQXNRUxMzF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 0
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "9d29b8ff-35cb-4d06-b8d4-8a9b9c5e1ef1",
      "name": "Template Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        -576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.decision ?? $json.query?.decision ?? $json.body?.decision ?? $json.overrideDecision ?? $json.query?.overrideDecision ?? $json.body?.overrideDecision }}",
              "operation": "equals",
              "value2": "Override"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "d4a8a8c8-34cc-4f9a-9e7b-2f1a8d43d0b5",
      "name": "Override Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1920,
        -832
      ]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Check Existing Template').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1e35c39a-8b0b-4fd3-8f0b-2d567f5f0b07",
      "name": "Delete Existing Template",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2144,
        -848
      ],
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NB0HZbHQXNRUxMzF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "9b9dfb7e-66c0-4c3a-83c2-3f2ff0a97c62",
      "name": "Human Approval (Override?)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1776,
        -848
      ],
      "notesInFlow": true,
      "webhookId": "2036e68c-0eff-446c-8435-1adcc0e31e49"
    },
    {
      "parameters": {
        "content": "## If Kitchen sheet exists \n** it waits for human approval if we need to overwrite the existing.",
        "height": 336,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        -944
      ],
      "typeVersion": 1,
      "id": "5a146c64-7f65-4a01-aab4-5de16fcbcb87",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUV3DGWQK",
          "mode": "id"
        },
        "text": "hello world!",
        "otherOptions": {}
      },
      "id": "0f9cf05d-9b43-4d0d-ae65-5a0b6b61f5c7",
      "name": "Notify Slack (Approval Needed)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1600,
        -848
      ],
      "webhookId": "6b87b7bd-df7c-4e05-a238-3128edf1b627",
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "EsbW9VxWWLbudTp5",
          "name": "Slack account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download PDF file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Sheet": {
      "main": [
        [
          {
            "node": "PlotMenuRows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy KitchenSheet Template": {
      "main": [
        [
          {
            "node": "Map to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download PDF file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "ParsePDF2JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PlotMenuRows": {
      "main": [
        [
          {
            "node": "EncodeJSONtoGoogleSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParsePDF2JSON": {
      "main": [
        [
          {
            "node": "Check Existing Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Template": {
      "main": [
        [
          {
            "node": "Template Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Exists?": {
      "main": [
        [],
        [
          {
            "node": "Copy KitchenSheet Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Override Approved?": {
      "main": [
        [
          {
            "node": "Delete Existing Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing Template": {
      "main": [
        [
          {
            "node": "Copy KitchenSheet Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Approval (Override?)": {
      "main": [
        [
          {
            "node": "Override Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (Approval Needed)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "be2caa9e-3b7b-4f1a-bf0a-a201bdd4ff1b",
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true,
    "instanceId": "0bc3fbc3c7623e46a948a420f6faad6f937028b5a9fc5f4c816b29fa36a84847"
  },
  "id": "Tzn53YVSiK2wGIh7",
  "tags": []
}